<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2010 Jonathan Dimond

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at
  
          http://www.apache.org/licenses/LICENSE-2.0
  
     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
 -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="de.dimond.countdowntimer" android:versionCode="9"
	android:versionName="0.3.3">
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<receiver android:name="CountdownTimerAppWidgetProvider">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>

			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/countdown_timer" />
		</receiver>

		<activity android:name="NewTimerActivity" android:theme="@android:style/Theme.Dialog"
			android:screenOrientation="nosensor" android:launchMode="singleInstance"></activity>
		<activity android:name="SettingsActivity" android:finishOnTaskLaunch="true"
			android:launchMode="singleTop">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.INFO" />
			</intent-filter>
		</activity>
		<service android:name="CountdownTimerService">
			<intent-filter>
				<action android:name="de.dimond.countdowntimer.intent.ACTION_NEW_TIMER" />
				<action android:name="de.dimond.countdowntimer.intent.ACTION_CANCEL_TIMER" />
				<action android:name="de.dimond.countdowntimer.intent.ACTION_ALARM_ALERT" />
				<action android:name="de.dimond.countdowntimer.intent.ACTION_ADD_WIDGET" />
				<action android:name="de.dimond.countdowntimer.intent.ACTION_REMOVE_WIDGET" />
			</intent-filter>
		</service>
	</application>
	<uses-sdk android:minSdkVersion="4" />

	<uses-permission android:name="android.permission.VIBRATE"></uses-permission>
</manifest> 